@font-face {
  font-family: Minecraft;
  src: url("./fonts/minecraft-special.ttf");
}


body {
  color: #FFF;
  padding-top: 30px;
  background-color: rgba(0, 0, 0, 0.4); 
}

.hidden {
  display: hidden;
  background-color: rgba(0, 0, 0, 0);
}

html {
  -webkit-user-select: none;
  min-height: 100%;
  height: 100%;
}


header {
  -webkit-app-region: drag;
}

.skull {
  background-image: url('./img/steve.png');
  background-repeat: no-repeat;
  background-origin: content-box;
  padding-left: 2px;
  padding-top: 2px;
  height: 16px; 
  width: 16px; 
}

.topnav {
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  font-family: "Poppins", sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  padding-top: 5px;
}

.topnav img {
  padding-bottom: 5px;
  padding-left: 5px;
  width: 25px;
  height: 25px;
}

.yellow-button:hover {
  border-color: #DE9F34;
  border-style: solid;
  border-width: 1px;
}

.green-button:hover {
  border-color: #27AA35;
  border-style: solid;
  border-width: 1px;
}

.red-button:hover {
  border-color: #DF4744;
  border-style: solid;
  border-width: 1px;
}

.buttons {
  padding-top: 5px;
  padding-right: 5px;
  text-align: right;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}

.dot {
  padding: 5px 5px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border-style: none;
  border-width: 0;
  display: inline-block;
  outline: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  
  border: none;
  font-family: Minecraft;
  padding: 2px;
  padding-bottom: 1px;
  font-weight: 80;
  text-align: left;
}

td {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

th {
  padding-top: 5px;
  font-size: 18px;
}

.black {
  color: #000000;
}

.black.shadow {
  text-shadow: 1.6px 1.6px #000000;
}

.dark_blue {
  color: #0000AA;
}

.dark_blue.shadow {
  text-shadow: 1.6px 1.6px #00002A;
}

.dark_green {
  color: #00AA00;
}

.dark_green.shadow {
  text-shadow: 1.6px 1.6px #002A00;
}

.dark_aqua {
  color: #00AAAA;
}

.dark_aqua.shadow {
  text-shadow: 1.6px 1.6px #002A2A;
}

.dark_red {
  color: #AA0000;
}

.dark_red.shadow {
  text-shadow: 1.6px 1.6px #2A0000;
}

.dark_purple {
  color: #AA00AA;
}

.dark_purple.shadow {
  text-shadow: 1.6px 1.6px #2A002A;
}

.gold {
  color: #FFAA00;
}

.gold.shadow {
  text-shadow: 1.6px 1.6px #2A2A00;
}

.gray {
  color: #AAAAAA;
}

.gray.shadow {
  text-shadow: 1.6px 1.6px #2A2A2A;
}

.dark_gray {
  color: #555555;
}

.dark_gray.shadow {
  text-shadow: 1.6px 1.6px #151515;
}

.blue {
  color: #5555FF;
}

.blue.shadow {
  text-shadow: 1.6px 1.6px #15153F;
}

.green {
  color: #55FF55;
}

.green.shadow {
  text-shadow: 1.6px 1.6px #153F15;
}

.aqua {
  color: #55FFFF;
}

.aqua.shadow {
  text-shadow: 1.6px 1.6px #153F3F;
}

.red {
  color: #FF5555;
}

.red.shadow {
  text-shadow: 1.6px 1.6px #3F1515;
}

.light_purple {
  color: #FF55FF;
}

.light_purple.shadow {
  text-shadow: 1.6px 1.6px #3F153F;
}

.yellow {
  color: #FFFF55;
}

.yellow.shadow {
  text-shadow: 1.6px 1.6px #3F3F15;
}

.white {
  color: #FFFFFF;
}

.white.shadow {
  text-shadow: 1.6px 1.6px #3F3F3F;
}

.bold {
  font-weight: bold;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background-color: rgba(22, 22, 22, 0.7); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(11, 11, 11, 0.7); 
}