@font-face {
  font-family: Minecraft;
  src: url("./fonts/minecraft-special.ttf")
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  left: 5%
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  -webkit-transition: .4s;
  transition: .9s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 2px;
  background-color: none;
  border-color: white;
  border-width: 2px;
  border-style: solid;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider:before {
  background-color: white;
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.menu {
  font-family: "Poppins", sans-serif;
  position: fixed;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 30px;
  background-color: rgba(0,0,0, 0.79);
  z-index: 5;
  overflow-y: scroll;
}

.menu button {
  width: max-content;
  padding: 7.3px;
  padding-top: 9.7px;

  outline: none;
  background: none;
  border: 2px solid #aaa;

  color: #FFF;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 80;

}

.menu button:hover {
  border: 2px solid white;
}

.menu input {
  -webkit-user-select: none;
  font: 400 12px/16px "Poppins", sans-serif;
  width: 50%;
  border: none;
  text-shadow: 0 0 32px white;
  color: transparent;
  position: relative;
  text-align: center;
  border: 2px solid #aaa;
  background: transparent;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
  outline: none;
}

.menu input:focus {
  text-shadow: none;
  color: #FFF;
}

.menu button[type="submit"] {
  width: max-content;
  padding: 7.3px;
  margin-bottom: 20px;

  outline: none;
  background: none;

  border: 2px solid #aaa;

  color: #FFF;
  font-size: 15px;
  font-weight: 80;
}

.menu button[type="submit"]:hover {
  border: 2px solid white;
}

.menu img {
  width: 15px;
}

footer{
  bottom:0;
  width: 100%;
  height: 50px;
  color: #aaa;
}

.error {
  padding-top: .75rem;
  padding-bottom: .75rem;
  padding-left: 1rem;
  padding-right: 1rem;

  text-align: left;

  border-top: 4px solid #f56565;
  background-color: #FFF5F5;
  color: #060E0F;

  width: 80%;
  display: inline-block;
  margin: auto;
}

.error-img {
  padding-top: .25rem;
  padding-bottom: .25rem;
  width: auto;
}

.error-header {
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}

.error-content {

  padding-left: 1rem;
  display: inline-block;
  vertical-align: middle;
}

.success {
  padding-top: .75rem;
  padding-bottom: .75rem;
  padding-left: 1rem;
  padding-right: 1rem;

  text-align: left;

  border-top: 4px solid #48bb78;
  background-color: #F5FFF5;
  color: #060E0F;

  width: 80%;
  display: inline-block;
  margin: auto;
}

.success-img {
  padding-top: .25rem;
  padding-bottom: .25rem;
  width: auto;
}

.success-header {
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}

.success-content {

  padding-left: 1rem;
  display: inline-block;
  vertical-align: middle;
}


.menu select {
  -webkit-user-select: none;
  width: 50%;
  border: none;
  color: white;
  position: relative;
  text-align: center;
  border: 2px solid #aaa;
  background: transparent;
  padding: 7.3px;
  font-size: 15px;
  outline: none;
}

option:focus{
  background-color: rgba(0, 0, 0, 0.99);
  border: 2px solid rgba(0, 0, 0, 0) ;
  outline:none;
}

option{
  background-color: rgba(0, 0, 0, 0.99);
  border: 2px solid rgba(0, 0, 0, 0) ;
  outline:none;
}

.tooltip {
  font-size: 16px;
  font-family: Minecraft;
  opacity: 1;
  position: relative;
  display: inline-block;
  font-weight: 80;
  text-align: left;
  z-index: 2;
}

.tooltip:hover .tooltiptext {
  display: inline;
  visibility: visible;
  opacity: 1;
}

.tooltiptext {
  display: none;
  visibility: hidden;
  opacity: 0;

  background: #120211; 
  padding: 5px; 
  padding-bottom: 3px; 
  border-radius: 5px; 
  border: 1px solid #25015b; 
  line-height: 17px;
  left: 350px;
  padding-right:12px;
  width: max-content;
  font-size: 16px;

  position: absolute;
}

body {
  color: #FFF;
  padding-top: 24px;
  background-color: rgba(0, 0, 0, 0.4); 
}

.hidden {
  display: hidden;
  background-color: rgba(0, 0, 0, 0); 
}

html {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  min-height: 100%;
  height: 100%;
}

header {
  z-index: 10;
}

.skull {
  display: inline-block;
  margin-left: 2px;
  margin-top: -4px;
  height: 16px;
  width: 16px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.4));
}

.topnav {
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  width: 100%;
  height: 32px;
  z-index: 10;
}


.topnav a {
  float: none;
  display: block;
  color: #f2f2f2;
  font-family: "Poppins", sans-serif;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin-top: 3px;
  display: inline-block;
  height: 100%;
  filter: drop-shadow(2px 2px 0px #242424);
}

.settings-icon {
  margin: 5px;
  margin-left: 2px;
  margin-top: 0px;
  width: 16px;
  height: 16px;
}

.settings-icon:hover {
  animation: spin-animation 1.44s infinite;
  display: inline-block;
  cursor: pointer;
}

.info-icon {
  margin: 5px;
  margin-left: 2px;
  margin-top: 0px;
  width: 16px;
  height: 16px;
}

.info-icon:hover {
  display: inline-block;
  cursor: pointer;
}

@keyframes spin-animation {
  0% {
    trransform: rotate(359deg)
  }
  100% {
    transform: rotate(359deg)
  }
}

.discord-icon {
  margin: 5px;
  margin-left: 2px;
  margin-top: 0px;
  width: 16px;
  height: 16px;
}

.discord-icon:hover {
  display: hidden;
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.topnav a img {
  padding-bottom: 3px;
  padding-left: 3px;
  width: 25px;
  height: 25px;
}

.yellow-button:hover {
  border-color: #DE9F34;
  border-style: solid;
  border-width: 3px;
  filter: drop-shadow(2px 2px 0px #000000);
}

.green-button:hover {
  border-color: #27AA35;
  border-style: solid;
  border-width: 3px;
  filter: drop-shadow(2px 2px 0px #000000);
}

.red-button:hover {
  border-color: #DF4744;
  border-style: solid;
  border-width: 3px;
  filter: drop-shadow(2px 2px 0px #000000);
}

.buttons {
  padding-top: 3px;
  padding-right: 3px;
  text-align: right;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  z-index: -1;
}

.dot {
  padding: 5px 5px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border-style: none;
  border-width: 0;
  display: inline-block;
  outline: none;
}

table {
  margin-top: 5px;
  border-collapse: collapse;
  width: 100%;
  position: relative;
}

td, th {
  border: none;
  font-family: Minecraft;
  padding: 2px;
  padding-bottom: 1px;
  font-weight: 80;
  text-align: left;
}

td {
  font-size: 16px;
  -webkit-app-region: no-drag;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

tr {
  position: relative;
}

th {
  padding-top: 5px;
  font-size: 18px;
}

.black {
  color: #000000;
}

.black.shadow {
  text-shadow: 2px 2px #000000;
}

.dark_blue {
  color: #0000AA;
}

.dark_blue.shadow {
  text-shadow: 2px 2px #00002A;
}

.dark_green {
  color: #00AA00;
}

.dark_green.shadow {
  text-shadow: 2px 2px #002A00;
}

.dark_aqua {
  color: #00AAAA;
}

.dark_aqua.shadow {
  text-shadow: 2px 2px #002A2A;
}

.dark_red {
  color: #AA0000;
}

.dark_red.shadow {
  text-shadow: 2px 2px #2A0000;
}

.dark_purple {
  color: #AA00AA;
}

.dark_purple.shadow {
  text-shadow: 2px 2px #2A002A;
}

.gold {
  color: #FFAA00;
}

.gold.shadow {
  text-shadow: 2px 2px #2A2A00;
}

.gray {
  color: #AAAAAA;
}

.gray.shadow {
  text-shadow: 2px 2px #2A2A2A;
}

.dark_gray {
  color: #555555;
}

.dark_gray.shadow {
  text-shadow: 2px 2px #151515;
}

.blue {
  color: #5555FF;
}

.blue.shadow {
  text-shadow: 2px 2px #15153F;
}

.green {
  color: #55FF55;
}

.green.shadow {
  text-shadow: 2px 2px #153F15;
}

.aqua {
  color: #55FFFF;
}

.aqua.shadow {
  text-shadow: 2px 2px #153F3F;
}

.red {
  color: #FF5555;
}

.red.shadow {
  text-shadow: 2px 2px #3F1515;
}

.light_purple {
  color: #FF55FF;
}

.light_purple.shadow {
  text-shadow: 2px 2px #3F153F;
}

.yellow {
  color: #FFFF55;
}

.yellow.shadow {
  text-shadow: 2px 2px #3F3F15;
}

.white {
  color: #FFFFFF;
}

.white.shadow {
  text-shadow: 2px 2px #3F3F3F;
}

.bold {
  font-weight: bold;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background-color: rgba(22, 22, 22, 0.7); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(11, 11, 11, 0.7); 
}

.updateBanner {
    font-family: "Poppins", sans-serif;
    width: 60%;
    margin: auto;
    margin-top: 5%;
    border-color: rgba(33, 33, 33, 0.7);
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: rgba(22, 22, 22, 0.7);
}

.update-header {
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(33, 33, 33, 0.7);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
} 

.update-header img {
  float: right;
} 

.update-content {
  padding: 10px;
  font-size: 14px;
}

.updateBanner img {
    padding-top: .25rem;
    padding-bottom: .25rem;
    width: auto;
}

.update-footer {
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(33, 33, 33, 0.7);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  padding: 5px;
}

.alert {
  font-family: "Poppins", sans-serif;
  width: 60%;
  margin: auto;
  margin-top: 5%;
  border-color: rgba(33, 33, 33, 0.7);
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  background-color: rgba(22, 22, 22, 0.7);
}

.alertBanner {
font-family: "Poppins", sans-serif;
width: 60%;
margin: auto;
margin-top: 5%;
border-color: rgba(33, 33, 33, 0.7);
border-width: 2px;
border-style: solid;
border-radius: 10px;
background-color: rgba(22, 22, 22, 0.7);
}

.alert-header {
background-color: rgba(0, 0, 0, 0.4);
border-bottom: 2px solid rgba(33, 33, 33, 0.7);
border-top-left-radius: 10px;
border-top-right-radius: 10px;
padding: 10px;
width: 100%;
font-size: 14px;
font-weight: bold;
display: inline-block;
vertical-align: middle;
margin-bottom: 10px;
} 

.alert-header img {
  float: right;
  width: 16;
  height: 16;
} 

.alert-content {
padding: 10px;
font-size: 14px;
}

.alert img {
  padding-top: .25rem;
  padding-bottom: .25rem;
  width: 16;
  height: 16;
}

.alert-footer {
background-color: rgba(0, 0, 0, 0.4);
border-bottom: 2px solid rgba(33, 33, 33, 0.7);
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;

padding: 5px;
}

.username {
  width: 50%;
  height: 40px;
  -webkit-appearance: none;
  border-radius: 5px;
  z-index: 100;
}

.rangeSliders input {
  margin: auto;
}

.rangeSlider {
  width: 50%;
  height: 40px;
  -webkit-appearance: none;
  border-radius: 5px;
  background-color: #ff0000;
  box-shadow: insert 0 3px 18px rgba(255, 255, 0, 0.6);
  z-index: 100;
}

.rangeSlider::-webkit-slider-runnable-track {
  width: 50%;
  background-color: #ebe2e2;
  box-shadow: 10px 10px #000000 insert;
  height: 10px
}

.rangeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  
  margin-top: -3px;
  width: 15px;
  height: 15px;
  background-color:rgba(255, 255, 255, 0.95);
  border-radius: 50%;
  cursor: pointer;
}

.search {
  font-family: Minecraft;
  text-align: left;
  font-size: 12px;

  float: right;
  margin-top: 4px;
  margin-right: 70px;
  height: 75%;

  padding: 10px;

  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  border-color: rgba(255, 255, 255, 0.3);
  border-width: 2px;
  border-style: solid;

  outline: none;
  z-index: 1;
}

.search:focus {
  border-color: rgba(255, 255, 255, 1);
}

.faq-tooltip {
  width: 80%;
  background-color: rgba(22, 22, 22, 0.7);
 
  border-color: rgba(33, 33, 33, 0.7);
  border-radius: 25px;
  border-style: solid;
  border-width: 2px;

  color: #FFF;
  font-size: 16px;
  font-family: Minecraft;

  z-index: 30px;

  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.arrow img {
  margin: auto;
  width: 40px;
}